.salary-input {
    text-align: center;

    width: 229px;
    height: 32px;
    max-width: 80vw;

    padding: 2px 8px;

    margin-left: 3px;

    border-radius: 3px;
    border: 1px solid hsl(0, 0%, 80%);

    font-size: 16px;

    transition: all 0.1s ease;

    outline: none;
}

.salary-input:hover {
    border-color: hsl(0,0%,70%);
}

.salary-input:focus {
    border-color: #2684FF;
    box-shadow: 0 0 0 1px #2684FF;
}

.salary-input:focus:hover {
    border-color: #2684FF;
}

.salary-inputs {
    display: flex;
}

.wallet-hero {
    height: 150px;
    margin-bottom: 20px;
    margin-top: 50px;
}