.app {
  background: -webkit-linear-gradient(to bottom, #5B86E5, #36D1DC);
  background: linear-gradient(to bottom, #5B86E5, #36D1DC);;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Montserrat', sans-serif;
}

.pane {
  min-height: 500px;
  max-width: 450px;

  width: 90vw;

  background: white;

  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(154,160,185,.1), 0 15px 40px rgba(166,173,201,.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #404040;
}

.content {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}